<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Note</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Note Title" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Content" formControlName="text" #text>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button class="redButton" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateNote(title.value,text.value)"
        [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button class="greenButton">Save</button>
    </form>
  </mat-card>
</div>